In [156]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [157]:
data = pd.read_csv('movie_bd_v5.csv', parse_dates = ['release_date'], na_values=False)
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
44,tt3622592,12000000,85512300,Paper Towns,Nat Wolff|Cara Delevingne|Halston Sage|Justice...,Jake Schreier,Get Lost. Get Found.,Quentin Jacobsen has spent a lifetime loving t...,109,Drama|Mystery|Romance,Fox 2000 Pictures,2015-07-09,6.2,2015
791,tt1265990,16000000,40492759,The Roommate,Minka Kelly|Leighton Meester|Cam Gigandet|Aly ...,Christian E. Christiansen,"2,000 colleges. 8 million roommates. Which one...","When Sara (Minka Kelly), a young design studen...",91,Thriller|Drama|Horror,Vertigo Entertainment|Screen Gems,2011-02-04,5.5,2011
1378,tt0433383,7000000,54600000,"Good Night, and Good Luck.",David Strathairn|Jeff Daniels|Alex Borstein|Ro...,George Clooney,They took on the Government with nothing but t...,"The story of journalist, Edward R Murrow's sta...",93,Drama|History,Warner Independent Pictures (WIP)|Section Eigh...,2005-09-16,6.4,2005
1060,tt1712170,45000000,30353232,Alex Cross,Tyler Perry|Rachel Nichols|Jean Reno|Matthew F...,Rob Cohen,Don't Ever Cross Alex Cross,After Washington DC detective Alex Cross is to...,101,Action|Thriller|Crime|Mystery,Summit Entertainment,2012-10-18,5.2,2012
1613,tt0371246,80000000,55041367,Spanglish,Adam Sandler|TÃ©a Leoni|Paz Vega|Cloris Leachm...,James L. Brooks,Every family has a hero.,Mexican immigrant and single mother Flor Moren...,130,Comedy,Gracie Films|Columbia Pictures Corporation,2004-12-17,5.6,2004

In [158]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [159]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
#the time given in the dataset is in string format.
#So we need to change this in datetime format

#определим список с названиями жанров
genres_list = ['Action','Adventure','Animation','Comedy','Crime','Documentary','Drama','Family','Fantasy','Foreign','History','Horror','Music','Mystery','Romance','Science Fiction','Thriller','War','Western']
# добавим в датасет столбец со значенями прибыли/убытка
data['profit'] = data['revenue'] - data['budget']

#определим функцию, возвращающую значение жанра с максимальным количеством фильмов  
#из словаря с ключами - элементами списка genres_list и значениями - количество фильмов каждого жанра 
def get_genres_max(genres_dict):
    genres_s = pd.Series(genres_dict)
    genres_df = pd.DataFrame (genres_s, columns = ['numbers'])       
    return(genres_df[genres_df.numbers == genres_df.numbers.max()])

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [160]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# "+"

In [228]:
#фильма c самым большим бюджетом
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [162]:
answers['2'] = '2. Gods and Generals (tt0279111)'
# "+"

In [225]:
#самый длительный фильм
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [164]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
# "+"

In [226]:
#самый короткий фильм
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [166]:
answers['4'] = '2. 110'
# "+"

In [227]:
#средняя длительность фильмов
int(round(data.runtime.mean(),0))

110

# 5. Каково медианное значение длительности фильмов?

In [168]:
answers['5'] = '1. 107'
# "+"

In [169]:
#медианное значение длительности фильмов
int(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [170]:
answers['6'] = '5. Avatar (tt0499549)'
# "+"

In [229]:
#самый прибыльный фильм
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [172]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
# "+"

In [173]:
#самый убыточный фильм
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [174]:
answers['8'] = '1. 1478'
# "+"

In [230]:
#abkmbs c объемjv сборов выше бюджета
data[data.profit > 0].imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [176]:
answers['9'] = '4. The Dark Knight (tt0468569)'
# "+"

In [177]:
#самый кассовый фильм в 2008 году
data_2008 = data[data.release_year == 2008]
data_2008[data_2008.profit == data_2008.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [178]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
# "+"

In [179]:
#Самый убыточный фильм за период с 2012 по 2014 г. (включительно)
data_temp = data.query('2012 <= release_year <= 2014')
data_temp[data_temp.profit == data_temp.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [180]:
answers['11'] = '3. Drama'
# "+"

In [232]:
#этого жанра фильмов больше всего
#формируем словарь с количеством фильмов каждого жанра 
genres_dict = {}
for genres in genres_list:
    genres_dict[genres] = len(data[data.genres.str.contains(genres,na=False)])
#функция возвращает жанр с максимальным количеством фильмов
get_genres_max(genres_dict)

       numbers
Drama      782

ВАРИАНТ 2

In [182]:
#формируем датасет, разобранный по жанрам (одна строка - один жанр)
data_genres = data.copy()
data_genres['genres'] = data_genres.genres.str.split('|')
data_genres.explode('genres').genres.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [183]:
answers['12'] = '1. Drama'
# "+"

In [231]:
#Фильмы этого жанра чаще всего становятся прибыльными
#формируем словарь с количеством фильмов каждого жанра для заданных условий
for genres in genres_list:
    genres_dict[genres] = len(data[(data.genres.str.contains(genres,na=False))&(data.profit > 0)])
#функция возвращает жанр с максимальным количеством фильмов
get_genres_max(genres_dict)

       numbers
Drama      560

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [185]:
answers['13'] = '5. Peter Jackson'
# "+"

In [234]:
#режиссер с самыми большими суммарными кассовыми сборами
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [187]:
answers['14'] = '3. Robert Rodriguez'
# "+"

In [235]:
#режисер, который снял больше всего фильмов в стиле Action
data_Action = data[data.genres.str.contains('Action',na=False)].copy()
data_Action['director'] = data_Action.director.str.split('|')
data_Action.explode('director').director.value_counts()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Andy Fickman          1
Chris Gorak           1
Joel Coen             1
Peter Spierig         1
Don Bluth             1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [189]:
answers['15'] = '3. Chris Hemsworth'
# "+"

In [236]:
#актер, у фильмов с которым самые высокие кассовые сборы в 2012 году
#формируем датасет data_cast, разобранный по актерам
data_cast = data.copy()
data_cast['cast'] = data.cast.str.split('|')
data_cast = data_cast.explode('cast')
data_cast[data_cast.release_year == 2012].groupby('cast')['revenue'].sum().sort_values(ascending=False).head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [191]:
answers['16'] = '3. Matt Damon'
# "+"

In [192]:
#актер, который снялся в большем количестве высокобюджетных фильмов
#используем созданный в предыдущем блоке датасет, разобранный по актерам
data_cast[data_cast.budget > data_cast.budget.mean()].cast.value_counts()

Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
Tom Cruise        15
Eddie Murphy      15
                  ..
Chris Kattan       1
Tom Wilkinson      1
Joseph Fiennes     1
Liam McIntyre      1
Chris Potter       1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [193]:
answers['17'] = '2. Action'
# "+"

In [237]:
#в фильмах этого жанра больше всего снимался Nicolas Cage
#формируем словарь с количеством фильмов каждого жанра для заданных условий
for genres in genres_list:
    genres_dict[genres] = len(data[(data.genres.str.contains(genres,na=False))&(data.cast.str.contains('Nicolas Cage',na=False))])
#функция возвращает жанр с максимальным количеством фильмов
get_genres_max(genres_dict)

        numbers
Action       17

# 18. Самый убыточный фильм от Paramount Pictures

In [195]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
# "+"

In [238]:
#Самый убыточный фильм от Paramount Pictures
#создадим датасет data_companies, разобранный по кинокомпаниям
data_companies = data.copy()
data_companies['production_companies'] = data_companies.production_companies.str.split('|')
data_companies = data_companies.explode('production_companies')
data_temp = data_companies[data_companies.production_companies == 'Paramount Pictures']
data_temp[data_temp.profit == data_temp.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,2002-07-19,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [197]:
answers['19'] = '5. 2015'
# "+"

In [239]:
#самый успешный по суммарным кассовым сборам
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [199]:
answers['20'] = '1. 2014'
# "+"

In [240]:
#самый прибыльный год для студии Warner Bros
#используем ранее сформированный датасет data_companies, разобранный по кинокомпаниям
data_temp = data_companies[data_companies.production_companies.str.contains('Warner Bros',na=False)]
data_temp.groupby('release_year')['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2292949646
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [201]:
answers['21'] = '4. Сентябрь'
# "+"

In [241]:
#месяц, в котором за все годы суммарно вышло больше всего фильмов
data.release_date.dt.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [203]:
answers['22'] = '2. 450'
# "+"

In [242]:
#суммарно вышло фильмов летом (за июнь, июль, август)
data.release_date.dt.month.value_counts().sort_index()[5:8].sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [208]:
answers['23'] = '5. Peter Jackson'
# "+"

In [243]:
#режиссер, для которого зима – самое продуктивное время года
data_winter = data[(data.release_date.dt.month == 1)|(data.release_date.dt.month == 2)|(data.release_date.dt.month == 12)]
data_winter.director.value_counts()

Peter Jackson                 7
Clint Eastwood                6
Steven Soderbergh             6
Shawn Levy                    4
Martin Scorsese               4
                             ..
Albert Hughes|Allen Hughes    1
Matthew Vaughn                1
Eric Brevig                   1
John Luessenhop               1
Michael Winterbottom          1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [210]:
answers['24'] = '5. Four By Two Productions'
# "+"

In [244]:
#студия, которая дает самые длинные названия своим фильмам 
data_companies['lenght_title'] = data_companies['original_title'].apply(len)
data_companies.groupby('production_companies')['lenght_title'].mean().sort_values(ascending=False).head(1)

production_companies
Four By Two Productions    83.0
Name: lenght_title, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [212]:
answers['25'] = '3. Midnight Picture Show'
# "+"

In [245]:
#студия, у которой в среднем самые длинные описания фильмов 
data_companies['lenght_overview'] = data_companies['overview'].apply(len)
data_companies.groupby('production_companies')['lenght_overview'].mean().sort_values(ascending=False).head(1)

production_companies
Midnight Picture Show    1000.0
Name: lenght_overview, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [214]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
# "+"

In [246]:
#фильмы, которые входят в 1 процент лучших по рейтингу
data[data.vote_average > data.vote_average.quantile(q=0.99)].sort_values('vote_average',ascending=False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015,678708609
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,2015-10-16,8.0,2015,29401758
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,2014-11-05,8.0,2014,456752480
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,2014-11-14,8.0,2014,219555708
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,2014-07-30,7.9,2014,603312399
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,2014-10-01,7.9,2014,308330363
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2014-02-26,7.9,2014,144600318
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,2010-07-14,7.9,2010,665500000
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,2002-09-24,7.9,2002,85072577
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,7.9,2003,1024888979
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,2013-12-25,7.9,2013,292000694
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,2013-10-18,7.9,2013,167000000
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,2000-10-11,7.9,2000,30723096

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [216]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
# "+"

In [247]:
#актеры, которые чаще всего снимаются в одном фильме вместе
couple_df = data.copy()
couple_df['cast'] = couple_df.cast.str.split('|').apply(lambda x: list(combinations(x, 2)))
couple_df.explode('cast').cast.value_counts().head()

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Rupert Grint, Emma Watson)            7
(Johnny Depp, Helena Bonham Carter)    6
(Ben Stiller, Owen Wilson)             6
Name: cast, dtype: int64

# Submission

In [248]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [249]:
# и убедиться что ни чего не пропустил)
len(answers)

27